# mac stuff (i use a mac as the server)
.DS_Store
.Spotlight-V100
.Trashes
.fseventsd
# i am not sure why mac includes this.
.
..

# directories
.git
.venv
dist
logs
pkg-files
filevault-keys

# python stuff
__pycache__/
.pytest_cache

# files
*.exe
*.pyc
*.log
*.zip
*.bin
.token

# yaml stuff
!config-sample.yaml
!compose.yml
config.*[yY][mM][lL]